
/*Webpages overall color*/
*{
	color: gray;
}


/*Background image and modifications to prevent repetition*/
body{
	background-image:url(images/background.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Big header at the top*/
.MainHead{
	width:85%;
	margin-left:10%; 
	text-align: center;
	font-family: Tahoma;
	padding: 30px;
	border:3px gray solid;
	border-radius:20px;
}
/*Style for sidebar*/
.sidenav{
	height:100%;
	width:150px;
	position:fixed;
	top:0;
	left:0;
	padding-top:155px; 
	background-color: #282828;
}


/*Styling for each element of sidebar*/
.sidenav a{
	display:block;
	padding: 6px 8px 6px 8px;
	text-decoration: none;
}

/*When user hovers over element in sidebar*/
.sidenav a:hover{
	background-color:white;
}

/*About dimple section*/
.section1 h3{	
	font-family: Helvetica;
	font-weight:1000;
	padding-left:150px;
} 
.section1 p{
	padding-left:150px;
}

.section1 img{
	display:block;
	width:20%;
	margin-top:10px;
	margin-left:50%;
	border:1px gray solid;
	border-radius:15px;
}
/*Container for all sections text*/
.Container{
	width:70%;
}

/*List below about dimple section*/
.section2 p{
	padding-left:150px;
	font-style: italic;
	font-weight:800;
}
.section2 ul{
	padding-left:200px;
}

.section2 img{
	display:block;
	width:60%;
	margin-left:40%;
	border:1px gray solid;
	border-radius:15px;

}

/*Dimple origin section*/
.section3 h3{
	font-family: Helvetica;
	font-weight:1000;
	padding-left:150px;
}

.section3 p{
	padding-left:150px;
}